extends layout

block content
  script(src='/scripts/script.js')
  
  h1 #{title}

  form
    div.form-group(style='display: flex; flex-direction: column;')
      form(action = "/signin" method="post")
        label(for = 'email') Email:
        input(id = 'email' type='text' name='email' value=(undefined===email ? '' : user.email))
        label(for = 'password') Password:
        input(id = 'password' type="password" name='password' value=(undefined===password ? '' : user.password))
        button.btn.btn-primary(type='submit') Sign In
  
  a(href='/home')
    button.btn.btn-secondary Back

  if errors 
   ul
    for error in errors
     li!= error.msg